@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Manrope', sans-serif;

}

.mobile {
    display: none;
}

._text {
    font-weight: 400;
    font-size: 0.57vw;
    line-height: 1.04vw;
    color: #2A2A2A;
}

._item__position {
    display: flex;
    align-items: center;
}

._link {
    font-weight: 700;
    font-size: 0.57vw;
    line-height: 0.78vw;
    letter-spacing: 0.05em;
    color: #2A2A2A;
}

.main {
    position: relative;
}

.container__right {
    width: 100%;
    padding-left: 7.24vw;
}
.toggle__menu {
    display: none;
}
.scroll {
    position: absolute;
    left: 1.473vw;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8.80vw;
}

.scroll__text {
    color: #cccccc;
    opacity: .25;
    transform: rotate(-90deg);
    margin-bottom: 3vw;
}

.scroll__line {
    opacity: .25;
    width: 0.08vw;
    height: 25.417vw;
    border: 0.08vw solid #cccccc;
    margin-bottom: 2vw;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.08vw solid #b9b9b9;
    padding: 1.04vw 0;
    margin-right: 7.19vw;
}

.header__logo a {
    display: block;
    margin-right: 1.20vw;
}

.logo__img img {
    width: 11.09vw;
    height: 2.60vw;
}

.header__geo-link {
    position: relative;
}

.header__geo-link:hover .geo__map {
    display: block;
}

.header__geo svg {
    margin-right: 0.52vw;
}

.header__geo-link svg {
    margin-right: 0.52vw;
    width: 0.63vw;
    height: 0.78vw;
}

.geo__map {
    display: none;
    position: absolute;
    width: 15.63vw;
    height: 15.63vw;
    top: 3vw;
    left: 0;
    z-index: 3;
    border-radius: 0.52vw;
}

/*.map__full {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    position: absolute;*/
/*    top: 3vw;*/
/*    left: -700px;*/
/*    z-index: 5;*/
/*    width: 1500px;*/
/*    height: 900px;*/
/*    overflow: hidden;*/
/*    background-color: rgba(64, 64, 65, 0.6);*/
/*}*/

._svg {
    width: 1.82vw;
    height: 1.82vw;
}

.header__calc-price svg {
    margin-right: 0.52vw;
}

.header__social p {
    margin-right: 0.94vw;
}

.header__social svg {
    margin-right: 0.20vw;
}

.header__contact {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header__contact-text {
    margin-left: 0.31vw;
}

.header__menu {
    display: none;
}

._contact {
    display: flex;
    align-items: center;
    margin-bottom: 0.31vw;
}

.contact__phone a {
    font-weight: 700;
    font-size: 1.04vw;
    line-height: 0.52vw;
    color: #2A2A2A;
}

.contact__phone svg, .contact__call svg {
    margin-left: 0.21vw;
}

.dot__link {
    position: relative;
}

.dot__link:after {
    display: block;
    content: "";
    position: absolute;
    top: 1.04vw;
    left: 0;
    width: 100%;
    border-bottom: 0.16vw dotted #ea4036;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.dot__link:hover:after {
    width: 3.6vw;
}

.calc__dot:after {
    top: 1.8vw;
}

.nav__inner {
    display: flex;
    justify-content: space-between;
    margin-right: 7.19vw;
    padding: 1.20vw 0;
}

.nav__item a {
    font-weight: 600;
    font-size: 0.63vw;
    line-height: 0.83vw;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #2A2A2A;
}

.nav__item a:hover {
    color: #bb955c;
}

.section__title {
    background-image: url('../img/bg/bg.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.section__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url('../img/bg/liner.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: -1;
}

.section__title::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    background-image: url('../img/bg/liner2.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    z-index: -1;
}

.title {
    margin-top: 6.67vw;
    margin-left: 5.99vw;
    width: 52.66vw;
}

.title__inner {
    height: inherit;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.title__text {
    font-weight: 400;
    font-size: 3.39vw;
    line-height: 4.95vw;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.title__text span {
    font-weight: 800;
}

.title p {
    margin-top: 2.34vw;
    font-weight: 400;
    font-size: 1.41vw;
    line-height: 2.34vw;
    letter-spacing: 0.02em;
    color: #FFFFFF;
}

.title__call {
    display: flex;
    align-items: center;
    margin-top: 2.34vw;
}

.title__link {
    background: #FD2016;
    background-size: 200% 100%;
    border-radius: 26.04vw;
    width: 20.83vw;
    height: 5.21vw;
    padding-left: 2.81vw;
    margin-right: 1.15vw;
    position: relative;
    overflow: hidden;
}

.title__link:after {
    content: "";
    display: block;
    width: 1.04vw;
    height: 26.04vw;
    margin-left: 2.60vw;
    background: #fff;
    background: linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.5) 0%,
            rgba(255, 255, 255, 1) 50%,
            rgba(255, 255, 255, 0.5) 100%
    );
    left: -2.08vw;
    top: -5.21vw;
    z-index: 1;
    transform: rotate(45deg);
    position: absolute;
    animation: movingFlare 3s ease-in-out 0.05s infinite;
}

@keyframes movingFlare {
    0% {
        left: -1.56vw;
        margin-left: 0;
    }
    30% {
        left: 110%;
        margin-left: 4.17vw;
    }
    100% {
        left: 110%;
        margin-left: 4.17vw;
    }
}

.title__link:hover {
    background: #f5581f;
}

.title__link svg {
    margin-left: 1.30vw;
    width: 1.20vw;
    height: 1.20vw;
}

.title__link:hover svg {
    transition: 0.3s;
    transform: rotate(45deg);
}

.title__phone {
    border: 0.1vw solid #FFFFFF;
    border-radius: 26.04vw;
    width: 20.83vw;
    height: 5.21vw;
    padding-left: 1.61vw;
    background-color: hsla(0, 0%, 5%, 0.64);
}

.title__phone:hover {
    border: 0.15vw solid #FFFFFF;
}

.title__phone svg {
    margin-right: 0.63vw;
    width: 1.56vw;
    height: 1.56vw;
}

._link__text {
    font-weight: 600;
    font-size: 0.83vw;
    line-height: 1.25vw;
    letter-spacing: 0.04em;
    color: #FFFFFF;
}

.quiz__container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 5.99vw;
    margin-top: 6.51vw;
}

.quiz__item:not(:last-child) {
    border-right: 0.07vw solid #FFFFFF;
}

.quiz {
    margin-right: 4.95vw;
    margin-bottom: 1.82vw;
}

.quiz svg {
    width: 0.73vw;
    height: 0.52vw;
    margin-bottom: 1.15vw;
}

.quiz p {
    font-weight: 800;
    font-size: 0.89vw;
    line-height: 1.41vw;
    letter-spacing: 0.02em;
    color: #919191;
}

.quiz__span {
    color: #FFFFFF;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(64, 64, 65, 0.6);
}

.modal__content {
    position: relative;
    flex-direction: column;
    display: flex;
    align-items: center;
    background: #313030;
    width: 26.04vw;
    height: 31.25vw;
    color: #FFFFFF;
    padding-top: 2.34vw;
}

.modal__content label {
    font-size: 0.73vw;
    line-height: 0.99vw;
}

.modal__close {
    position: absolute;
    top: 0.52vw;
    right: 1.56vw;
    font-size: 2.86vw;
    font-weight: 300;
    border: none;
    cursor: pointer
}

.modal__close:hover {
    color: #FD2016;
}

.modal__input {
    width: 18.91vw;
    height: 4.43vw;
    background: #FAFAFA;
    box-shadow: inset 0 0 21px rgba(255, 255, 255, 0.4);
    border-radius: 3.80vw;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 0.94vw;
    line-height: 1.25vw;
    letter-spacing: 0.03em;
    color: #B0B0B1;
    margin-top: 0.52vw;
    margin-bottom: 1.30vw;
}

.modal__title {
    text-align: center;
}

.modal__title h2 {
    font-weight: 500;
    font-size: 1.67vw;
    line-height: 2.29vw;
    margin-bottom: 0.83vw;
}

.modal__title p {
    font-weight: 400;
    font-size: 0.94vw;
    line-height: 1.46vw;
    margin-bottom: 1.77vw;
}

.modal__btn {
    width: 18.91vw;
    height: 4.43vw;
    border: none;
    text-align: center;
    padding: 0;
    font-weight: 600;
    font-size: 0.83vw;
    line-height: 1.25vw;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin: 0 0 1.30vw 0;
}

.checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    text-align: left;
}

.checkbox p, a {
    font-size: 0.73vw;
    line-height: 0.99vw;
}

.checkbox__link {
    color: #FD2016;
}

.container {
    display: block;
    position: relative;
    padding-left: 1.82vw;
    margin-bottom: 1.04vw;
    cursor: pointer;
    font-size: 1.15vw;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.04vw;
    width: 1.04vw;
    background-color: #fff;
    border-radius: 0.26vw;
}

.container:hover input ~ .checkmark {
    background-color: #ccc;
}

.container input:checked ~ .checkmark {
    background-color: #FD2016;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked ~ .checkmark:after {
    display: block;
}

.container .checkmark:after {
    left: 0.31vw;
    top: 0.16vw;
    width: 0.26vw;
    height: 0.42vw;
    border: solid white;
    border-width: 0 0.10vw 0.10vw 0;
    -ms-transform: rotate(35deg);
    transform: rotate(35deg);
}

.show {
    display: flex;
}

.hide {
    display: none;
}

@media (max-width: 992px) {
    html {
        font-size: 10px;
    }

    ._text {
        font-size: 1.1rem;
        line-height: 2rem;
    }

    ._link {
        font-size: 1.1rem;
        line-height: 1.5rem;
    }

    .container__right {
        max-width: 100%;
        margin: 0 auto;
        padding: 0;
    }

    .scroll {
        display: none;
    }

    .header__inner {
        border-bottom: 0.1rem solid #b9b9b9;
        padding: 2rem 0;
        margin-right: 13.8rem;
    }

    .header__logo a {
        margin-right: 2.3rem;
    }

    .logo__img img {
        width: 21.2rem;
        height: 5rem;
    }

    .header__geo svg {
        margin-right: 1rem;
    }

    .header__geo-link svg {
        margin-right: 1rem;
        width: 1.2rem;
        height: 1.5rem;
    }

    .geo__map {
        width: 30rem;
        height: 30rem;
        top: 5.7rem;
        left: 0;
        z-index: 3;
        border-radius: 1rem;
    }

    ._svg {
        width: 3.5rem;
        height: 3.5rem;
    }

    .header__calc-price svg {
        margin-right: 1rem;
    }

    .header__social p {
        margin-right: 1.8rem;
    }

    .header__social svg {
        margin-right: 0.6rem;
    }

    .header__contact-text {
        margin-left: 0.6rem;
    }

    ._contact {
        margin-bottom: 0.6rem;
    }

    .contact__phone a {
        font-size: 2rem;
        line-height: 1rem;
    }

    .contact__phone svg, .contact__call svg {
        margin-left: 0.4rem;
    }

    .dot__link:after {
        top: 2rem;
        border-bottom: 0.3rem dotted #ea4036;
    }

    .dot__link:hover:after {
        width: 7rem;
    }

    .calc__dot:after {
        top: 3.5rem;
    }

    .nav__inner {
        padding: 2.3rem 0;
        margin-right: 13.8rem;
    }

    .nav__item a {
        font-size: 1.2rem;
        line-height: 1.5rem;
        letter-spacing: 0.15em;
    }

    .title {
        margin-top: 12.8rem;
        margin-left: 11.5rem;
        width: 101.1rem;
    }

    .title__text {
        font-size: 6.5rem;
        line-height: 9.5rem;
    }

    .title p {
        margin-top: 4.5rem;
        font-size: 2.7rem;
        line-height: 4.5rem;
    }

    .title__call {
        margin-top: 4.5rem;
    }

    .title__link {
        border-radius: 50rem;
        width: 40rem;
        height: 10rem;
        padding-left: 5.4rem;
        margin-right: 2.2rem;
    }

    .title__link:after {
        width: 2rem;
        height: 50rem;
        margin-left: 5rem;
        left: -4rem;
        top: -10rem;
    }

    @keyframes movingFlare {
        0% {
            left: -3rem;
            margin-left: 0;
        }
        30% {
            left: 110%;
            margin-left: 8rem;
        }
        100% {
            left: 110%;
            margin-left: 8rem;
        }
    }

    .title__link svg {
        margin-left: 2.5rem;
        width: 2.3rem;
        height: 2.3rem;
    }

    .title__phone {
        border: 0.2rem solid #FFFFFF;
        border-radius: 50rem;
        width: 40rem;
        height: 10rem;
        padding-left: 3.9rem;
    }

    .title__phone:hover {
        border: 0.3rem solid #FFFFFF;
    }

    .title__phone svg {
        margin-right: 1.2rem;
        width: 3rem;
        height: 3rem;
    }

    ._link__text {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .quiz__container {
        margin-left: 11.5rem;
    }

    .quiz__item:not(:last-child) {
        border-right: 0.1rem solid #FFFFFF;
    }

    .quiz {
        margin-right: 9.5rem;
        margin-bottom: 3.5rem;
    }

    .quiz svg {
        width: 1.4rem;
        height: 1rem;
        margin-bottom: 2.2rem;
    }

    .quiz p {
        font-size: 1.7rem;
        line-height: 2.7rem;
    }

    .modal__content {
        width: 50rem;
        height: 60rem;
        padding-top: 4.5rem;
    }

    .modal__content label {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .modal__close {
        top: 1rem;
        right: 3rem;
        font-size: 5.5rem;
    }

    .modal__input {
        width: 36.3rem;
        height: 8.5rem;
        border-radius: 7.3rem;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin-top: 1rem;
        margin-bottom: 2.5rem;
    }

    .modal__title h2 {
        font-size: 3.2rem;
        line-height: 4.4rem;
        margin-bottom: 1.6rem;
    }

    .modal__title p {
        font-size: 1.8rem;
        line-height: 2.8rem;
        margin-bottom: 3.4rem;
    }

    .modal__btn {
        width: 36.3rem;
        height: 8.5rem;
        font-size: 1.8rem;
        line-height: 2.4rem;
        margin: 0 0 2.5rem 0;
    }

    .checkbox p, a {
        font-size: 1.4rem;
        line-height: 1.9rem;
    }

    .container {
        padding-left: 3.5rem;
        font-size: 2.2rem;
    }

    .checkmark {
        height: 2rem;
        width: 2rem;
        border-radius: 0.5rem;
    }

    .container .checkmark:after {
        left: 0.59rem;
        top: 0.3rem;
        width: 0.5rem;
        height: 0.8rem;
        border-width: 0 0.2rem 0.2rem 0;
    }
}

@media (max-width: 375px) {

    .header__logo p, .header__geo, .nav, .header__geo-link, .header__calc-price, .header__social {
        display: none;
    }

    .nav__inner {
        width: 100%;
        margin: 0 2rem 0 2rem;
        padding: 0;
    }

    .section__title {
        display: flex;
    }

    .mobile {
        display: none;
    }
    .mobile__inner {
        margin-top: 12rem;
    }
    ._mobile {
        display: flex;
        align-items: center;
        margin-bottom: 3rem;
        margin-left: 2rem;
    }
    .header__geo-mobile svg, .header__calc-mobile svg {
        width: 6.5rem;
        height: 6.5rem;
        margin-right: 1.8rem;
    }

    .header__social-mobile {
        display: flex;
        flex-direction: column;
        margin-left: 2rem;
    }
    .header__socials-items {
        margin-left: 8rem;
    }

    ._info {
        display: flex;
        align-items: center;
    }

    ._info img {
        margin-right: 1.8rem;
    }

    .nav__item a {
        font-size: 1.6rem;
        line-height: 2.2rem;
    }

    .nav__inner li {
        margin-bottom: 2.8rem;
    }

    .header {
        position: fixed;
        top: 0;
        z-index: 7;
    }

    .header__logo img {
        width: 9.2rem;
        height: 2.2rem;
    }

    .header__inner {
        width: 100%;
        border: none;
        align-items: center;
        justify-content: space-evenly
    }

    .header__contact-text {
        color: #FFFFFF;
        font-size: 0.6rem;
        line-height: 1rem;
    }

    .toggle__menu {
        display: grid !important;
        height: min-content;
        cursor: pointer;
        width: 2rem;
    }

    .toggle__menu .bar {
        width: 2rem;
        height: 0.2rem;
        margin-bottom: 0.5rem;
        background: #FFFFFF;
        border-radius: 10%;
        transition: .4s;
    }

    .contact__phone a {
        color: #FFFFFF;
        font-size: 1.2rem;
        line-height: 1rem;
    }

    .contact__call a {
        font-size: 0.6rem;
        line-height: 2.1rem;
        color: #FFFFFF;
    }

    .title {
        width: 100%;
        margin: 12.5rem 0 0 0;
    }

    .title__text {
        font-size: 2rem;
        line-height: 2.9rem;
        margin-left: 2rem;
    }

    .title p {
        font-size: 1.2rem;
        line-height: 1.8rem;
        margin-top: 2.8rem;
        margin-left: 2rem;
    }

    .title__call {
        flex-direction: column;
        margin-top: 2.8rem;
        align-items: flex-start;
        margin-left: 2rem;
    }

    .title__link {
        width: 27.6rem;
        height: 6rem;
        padding: 0;
        text-align: center;
        margin: 0 0 1.5rem 0;
    }

    .modal__input {
        width: 27.6rem;
        height: 6rem;
    }

    .title__link a {
        width: 100%;
    }

    .title__phone {
        width: 27.6rem;
        height: 6rem;
        margin: 0;
        padding: 0;
        text-align: center;
    }

    .title__phone a {
        width: 100%;
    }

    .title__link svg, .title__phone svg {
        display: none;
    }

    ._link__text {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .quiz__container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        grid-column-gap: 15px;
        margin: 3rem 0 0 0;
        padding: 0 2rem 0 2rem;
    }
    .quiz {
        margin: 0;
    }
    .quiz svg {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    .quiz p {
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .quiz__item:not(:last-child) {
        border: none;
    }

    .modal__title h2 {
        font-size: 2rem;
    }
    .checkbox {
        flex-direction: column;
        margin-top: 2rem;
    }
    .checkmark {
        top: -2.5rem;
    }
    .title__phone-span {
        color: #05e105;
    }
    .modal__content {
        height: 45rem;
    }
    .modal__content {
        padding: 3rem 1rem 0 1rem;
    }
    .modal__close {
        font-size: 4rem;
    }
    .modal__title br {
        display: none;
    }

    .modal__title p {
        font-size: 1.6rem;
    }
    .nav__inner {
        flex-direction: column;
    }
    .main__inner-mobile {
        display: flex;
        flex-direction: column;
    }
    .header__mobile {
        display: flex;
        align-items: center;
    }
}
